.Homepage-component .wrapper{
    background-image: url(../../images/office.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    padding-bottom: 10%;
    padding-left: 3rem;
}

.Homepage-component .Welcome-rectangle {
    height: 0.5em;
    width: 5em;
    background-color: #fff;
    margin: 0 2%;
}


.Homepage-component p {
    text-align: justify;
}

.Homepage-component .welcome,
.Homepage-component .Alpha-great {
    margin: 0 1 0.5%;
}

.Homepage-component .welcome {
    font-weight: 700;
    font-size: 3em;
}

.Homepage-component .alpha,
.Homepage-component .great {
    font-weight: 700;
    font-size: 5rem;

}

.Homepage-component .Homepage-btn {
    width: 10em;
    height: 3em;
    margin-top: 3%;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
}

.Homepage-component .Home-rectangle {
    height: 0.5em;
    width: 5em;
    background-color: var(--crimson);
    margin-top: 5%;
}

.Homepage-component .Why-us-btn{
    background-color: var(--crimson);
    color: #fff;
}

.Homepage-component .Push-up {
    margin-top: -4%;
  }

.Homepage-component .Speech-by {
    margin-left: 65%;
}

.Homepage-component .choose {
    display: block;
}

.Why-us-img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 425px) {
    .Company-intro {
        display: none;
    }

    .Homepage-component .Speech-by{
        margin-left: 0;        
    }

    .Homepage-component .wrapper{
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 20vh;
    }

    .Homepage-component .welcome,
    .Homepage-component .Alpha-great {
        margin: 0;
    }

    .Homepage-component .Welcome-rectangle {
        display: none;
    }

    .Homepage-component .alpha,
    .Homepage-component .great {
        font-weight: 600;
        font-size: 2rem;

    }

    .Homepage-component .welcome,
    .Homepage-component .Alpha-great {
        margin: 0 0.2%;
    }

    .Homepage-component .welcome {
        font-weight: 500;
        font-size: 2rem;
    }

    .Homepage-component .great {
        display: inline;
    }

    .Why-us-img {
        display: block;
    }

    .Homepage-component .mt{
        margin-top: 5%;
    }

    .Homepage-component p {
        text-align: left;
    }
    
}