.About-Us-Component {
    margin-left: 10%;
    border: 1px solid green;
}

.About-Us-Component .Vision-img {
    height: 46em;
    margin-right: 2%;
}

.About-Us-Component .vision {
    display: flex;
}

.About-Us-Component .Vision-text, 
.About-Us-Component .mission p{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.About-Us-Component .mission {
    width: 50%;
}

.About-Us-Component .Vision-text p, 
.About-Us-Component .mission p{
    line-height: 1.5em;
}

.About-Us-Component h2 {
    font-size: 6em;
}

.About-Us-Component .Core-values {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}

.About-Us-Component .values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}




