.About-Us-Component .our {
    display: block;
}

.About-Us-Component .Vision-img {
    height: 35em;
    width: 100%;
    height: auto;
    /* margin-right: 8%; */
}

.About-Us-Component .vision p {
    text-align: justify;
}

.About-Us-Component .Vision-text {
    width: 55%;
    text-align: justify;
} 

.About-Us-Component .mission p{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.About-Us-Component .mission {
    width: 55%;
}


.About-Us-Component .Vision-text p, 
.About-Us-Component .mission p{
    line-height: 1.5em;
}

.About-Us-Component .Core-values {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
}

.About-Us-Component .values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.About-Us-Component .Core-values-mobile {
    /* border: 1px solid salmon; */
    height: 30rem;
}


@media screen and (max-width: 425px) {

    .About-Us-Component .mission {
        width: 100%;
    }

    .About-Us-Component .Core-values {
        display: none;
    }

    .About-Us-Component .mt {
        margin-top: 5%;
    }

    .About-Us-Component .vision p, 
    .About-Us-Component .Vision-text,
    .About-Us-Component .mission p {
        text-align: left;
    }
    
  }
