.Contact-Us-Page {
    margin: 0 10%;
}

.Contact-Us-Page .intro {
    display: flex;
    align-items: center;
}

.Contact-Us-Page .phone {
    height: 30em;
    margin-right: 2%;
}

.Contact-Us-Page .Intro-text{
    width: 40%;
    text-align: justify;
}