.Main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Main-nav .logo {
    display: flex;
    padding-left: 0;
}

.Main-nav li {
    list-style-type: none;
    margin: 3%;
    width: 10rem;
    cursor: pointer;
}

.Main-nav .Nav-items {
    display: flex;
    align-items: center;
}

.linkText, #collasible-nav-dropdown {
    color: var(--crimson);
}

.linkText:hover, #collasible-nav-dropdown:hover {
    color: #000000;

}


