.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav .logo {
    display: flex;
}

.main-nav li {
    list-style-type: none;
    margin: 3%;
    width: 10rem;
    cursor: pointer;
}

.main-nav .nav-items {
    display: flex;
    align-items: center;
}

