* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --crimson: #990000;
}

h2 {
  color: var(--crimson);
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1.2em;
}

.mt {
  margin-top: 4rem;
}
